<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="S90_servo_ros2_control" params="name">

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>micro_servo_hardware/S90ServoSystemPositionOnlyHardware</plugin>
                <param name="hw_start_duration_sec_param">0</param>
                <param name="hw_stop_duration_sec_param">3.0</param>
                <param name="hw_slowdown_param">5</param>
                <param name="pin1">5</param>
            </hardware>

            <joint name="support_to_rot_link">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="position" />
            </joint>
        </ros2_control>

    </xacro:macro>

</robot>